## Εισαγωγή στην Python
________

### Βασικοί τύποι δεδομένων: 
- Ακέραιοι (integers)

- Δεκαδικοί (floats)

- Συμβολοσειρές (strings)

In [3]:
a = 3
b = 10.5
c = "hello"

In [6]:
# σχόλιο είναι οτιδήποτε ακολουθεί το σύμβολο "#"

d = 1  # inline comment

In [4]:
# πώς βλέπουμε τις μεταβλητές μας?

print(a)  # το print είναι μια συνάρτηση
print(b)
print(a, c)

3
10.5
3 hello

In [15]:
print("Hello, world!")
print(100)

Hello, world!
100

In [7]:
# το print για την τελευταία γραμμή μπορεί να παραληφθεί 

d = 35
e = 11
d

35

In [8]:
e

11

### Η Python είναι δυναμική γλώσσα
Aυτό σημαίνει ότι συγκεκριμένο τύπο έχουν τα αντικείμενα (objects) που φτιάχνουμε και όχι οι μεταβλητές.

Όταν ορίζουμε μια μεταβλητή απλά αντιστοιχούμε ένα object σε ένα όνομα:

    variable_name <- object

In [14]:
a = 3.2
a = "abcd"
a

'abcd'

Κάθε αντικείμενο (object) έχει έναν τύπο (class). Για να τον βρούμε χρησιμοποιούμε τη συνάρτηση **type**.

In [7]:
a = "hi!"
print(type(a))

print(type(3.5))

<class 'str'>
<class 'float'>

### Βασικές μαθηματικές πράξεις

In [8]:
# πρόσθεση & αφαίρεση
1 + 1 - 10

-8

In [61]:
a = 3
a = a + 2
a

5

In [63]:
b = 30
b += 3
b

33

In [9]:
# πολλαπλασιασμός
3 * 6

18

In [10]:
# διαίρεση
1 / 2

0.5

In [12]:
# εκθετικό
(-3) ** 2

9

In [69]:
# από δεκαδικό σε ακέραιο
int(3.0)

3

In [70]:
int(3.7)

3

In [71]:
float(3)

3.0

### Boolean logic

    True
    False

In [17]:
True and True

True

In [13]:
print(True and False)
print(True or True)

False
True

In [9]:
10 > 11

False

In [10]:
1 > 0 and 5 > 4

True

In [11]:
a = 5
a == 10

False

In [12]:
a != 15

True

### Conditionals

    if condition1:
        option1
    elif condition 2:
        option2
    else:
        option3

In [17]:
tair = 36

In [16]:
if tair < 10:
    print("It is cold!")
elif tair > 30:
    print("It is hot!")
else:
    print("Normal conditions")

It is hot!

Η εσοχή είναι **απαραίτητη** και ορίζει τα όρια του block!

In [17]:
a = 5.1
b = 10
c = 0

if a > b and a > c:
    print("a is the largest")
else:
    print("a is not the largest")

a is not the largest

### Άσκηση: 

Φτιάξτε ένα πρόγραμμα που θα ελέγχει το πρόσημό ενός αριθμού

### Βασικές δομές δεδομένων:
- Λίστες (Lists)

- Ranges

- Πλοιάδες (Tuples)

- Λεξικά (Dictionaries)

### Λίστες

In [19]:
a = [3, 5, 1]

b = ["John", "Peter", "Nick"]

c = [10, [1, 2], 5]

In [20]:
d = [
    10,
    99,
    85,
    12,
]

- Indexing σε λίστες

In [20]:
c = [10, "hello", 1, 15]

In [21]:
c[0]  # πρώτο στοιχείο

10

In [22]:
c[1]  # δεύτερο στοιχείο

'hello'

In [23]:
c[-1]  # τελευταίο στοιχείο

15

- Αντικατάσταση ενός στοιχείου

In [42]:
a = [3, 2]
a[0] = 100
a

[100, 2]

- Slicing σε λίστες

        [start : stop : step]

        Stop is exlusive 
        
        Default step is one

In [2]:
c = [1, 5, 6, 0, 2, 8]

In [3]:
c[0:2]  # πρώτο και δεύτερο στοιχείο

[1, 5]

In [4]:
c[:3]  # το start μπορεί να παραληφθεί

[1, 5, 6]

In [6]:
c[::2]  # πρώτο έως τελευταίο ανά δύο

[1, 6, 2]

- List unpacking

In [20]:
a, b = [3, 2]

print(a)
print(b)

3
2

- Αναζήτηση στοιχείου σε λίστα

In [22]:
a = [10, 5, 50]

3 in a

False

- For loop μέσω λίστας

In [25]:
names = ["Paul", "John", "Mary"]

In [26]:
for name in names:
    print(name)

Paul
John
Mary

### Άσκηση: 

Φτιάξτε μία λίστα με αριθμούς και υψώστε τα στοιχεία της στο τετράγωνο

### Ranges

    range(start, stop, step)

In [34]:
a = range(2, 10, 2)

In [35]:
for i in a:
    print(i)

2
4
6
8

In [36]:
for j in range(4):
    print(j)

0
1
2
3

- Συνάρτηση enumerate

In [23]:
countries = ["Spain", "Germany", "Greece"]

for i, country in enumerate(countries):
    print(i, country)

0 Spain
1 Germany
2 Greece

### Πλοιάδες (tuples)

In [7]:
# δημιουργούνται χρησιμοποιώντας παρενθέσεις, ή απλώς κόμματα

a = (1, 3, 0)

b = "Mary", 25, False

In [8]:
b

('Mary', 25, False)

In [9]:
# δεν μπορούμε να αλλάξουμε τα στοιχεία τους
a[0] = 100

TypeError: 'tuple' object does not support item assignment

- Tuple unpacking

In [21]:
a, b = 10, 0

print(a)
print(b)

10
0

### Λεξικά

Τα λεξικά συνδέουν **keys** με **values**

In [44]:
student = {"name": "John", "age": 22, "grade": 9, "id": 201800325}

In [ ]:
student = {
    "name": "John",
    "age": 22,
    "grade": 9,
    "id": 201800325,
}

- Access a value

In [45]:
student["age"]

22

- Add a new key

In [47]:
student["height"] = 1.85

- For loop σε λεξικό

In [51]:
for key in student:
    print(key, student[key])

name John
age 22
grade 9
id 201800325
height 1.85

- Ως value μπορεί να χρησιμοποιηθεί οποιοδήποτε object

In [10]:
d = {"key1": [3, 6, 7], "key2": 5, "key3": (3, 5)}
d

{'key1': [3, 6, 7], 'key2': 5, 'key3': (3, 5)}

### Συναρτήσεις

In [52]:
print("hi!")

hi!

In [12]:
a = [3, 2, 10]
len(a)  # ο αριθμός των στοιχείων της λίστας (length)

3

In [14]:
sorted(a)  # σε αύξουσα σειρά

[2, 3, 10]

In [16]:
sorted(["Madrid", "Athens", "Berlin"])

['Athens', 'Berlin', 'Madrid']

In [54]:
abs(-10)

10

### Μέθοδοι

In [19]:
a = "john"
a = a.capitalize()
a

'John'

- In-place operations

In [18]:
l = [3, 2]
l.append(100)  # προσθέτει το στοιχείο 100 στη λίστα
l

[3, 2, 100]

### Ορισμός μιας νέας συνάρτησης

In [58]:
def add_two_numbers(a, b):
    c = a + b
    return c

In [60]:
x = add_two_numbers(a=3, b=3)
x

6

In [59]:
y = add_two_numbers(10, 5)
y

15

### Άσκηση: 

Φτιάξτε μία συνάρτηση η οποία αν ένας αριθμός είναι μικρότερος από δέκα να τον υψώνει σε κάποια δύναμη.

In [64]:
def conditional_exp(a, n):
    if a < 10:
        a = a**n
    return a

In [66]:
conditional_exp(99, 2)

99